h2{
   font-size: medium;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   background-color: rgb(175, 167, 167);
}
p{
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}